html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,input,textarea,select,button,th,td,blockquote {margin:0;padding:0}
body {-webkit-text-size-adjust:none;font-family:'Comfortaa','Noto Sans KR'}
ul,ol,li {list-style:none}
a {text-decoration:none}
img {max-width:100%;border:none;vertical-align:top}
button, input[type=button], input[type=submit] {-webkit-appearance:none;-webkit-border-radius:none;cursor:pointer}
.blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0}

.content {
	padding:50px 0;
}
//BTN
.btn-wrap {
	padding:15px 0;
	text-align:center;
}
.btn {
	display:inline-block;
	padding:6px 12px;
	border:1px solid transparent;
	border-radius:4px;
	background:none;
	font-family:inherit;
	font-size:14px;
	color:#333;
	line-height:1.43;
	text-align:center;
	vertical-align:top;
	user-select:none;
	cursor:pointer;
	outline:none;
}
.btn-add {
	display:inline-block;
	position:relative;
	width:78px;
	height:78px;
	border-radius:50%;
	background:#0080cc;
	text-indent:-9999px;
	transition:all .1s ease-out;
	&:before {
		content:'';
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		width:36px;
		height:2px;
		margin-top:-1px;
		margin-left:-18px;
		background:#fff;
		transition:all .2s ease;
	}
	&:after {
		content:'';
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		width:2px;
		height:36px;
		margin-top:-18px;
		margin-left:-1px;
		background:#fff;
		transition:all .2s ease;
	}
	&:hover {
		transform:rotate(90deg);
	}
	&:hover:before {
		width:30px;
		margin-left:-15px;
	}
	&:hover:after {
		height:30px;
		margin-top:-15px;
	}
}
