html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,input,textarea,select,button,th,td,blockquote {margin:0;padding:0}
body {-webkit-text-size-adjust:none;font-family:'Raleway','Noto Sans KR'}
h1,h2,h3,h4,h5,h6 {font-weight:normal}
ul,ol,li {list-style:none}
a {text-decoration:none}
img {max-width:100%;border:none;vertical-align:top}
button, input[type=button], input[type=submit] {-webkit-appearance:none;-webkit-border-radius:none;cursor:pointer}
.blind {visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0}

body {
	max-width:700px;
	margin:0 auto;
	background:#f1f1f1;
}

//CONTENT
.box {
	margin:15px;
	padding:15px;
	background:#fff;
}
.info {
	&__status {
		padding:40px 0;
		text-align:center
	}
	&__temp {
		font-size:40px
	}
	&__number {
		font-size:18px;
		color:#666;
	}
}
//BTN
.btn-wrap {
	padding:15px 0;
	text-align:center;
}
.btn {
	display:inline-block;
	padding:6px 12px;
	border:1px solid transparent;
	border-radius:4px;
	background:none;
	font-family:inherit;
	font-size:14px;
	color:#333;
	line-height:1.43;
	text-align:center;
	vertical-align:top;
	user-select:none;
	cursor:pointer;
	outline:none;
}
.btn-add {
	display:inline-block;
	position:relative;
	width:40px;
	height:40px;
	border-radius:50%;
	background:#0080cc;
	text-indent:-9999px;
	&:before {
		content:'';
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		width:16px;
		height:2px;
		margin-top:-1px;
		margin-left:-8px;
		background:#fff;
	}
	&:after {
		content:'';
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		width:2px;
		height:16px;
		margin-top:-8px;
		margin-left:-1px;
		background:#fff;
	}
}
